<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Description</key>
			<string>The name of the Model, View and ViewModel to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Sample</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View type:</string>
			<key>Description</key>
			<string>The type of view to use</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Storyboard</string>
			<key>Values</key>
			<array>
				<string>Storyboard</string>
				<string>XIB</string>
				<string>None</string>
			</array>
		</dict>
<dict>
			<key>Identifier</key>
			<string>Base</string>
			<key>Name</key>
			<string>Include base classes</string>
			<key>Description</key>
			<string>If you need to include base classes check this</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<false/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Remote</string>
			<key>Name</key>
			<string>Also create web api stuffs</string>
			<key>Description</key>
			<string>If you need connect to server check this</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Local</string>
			<key>Name</key>
			<string>Also create local data source stuffs</string>
			<key>Description</key>
			<string>If you need database check this</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
